@font-face {
    font-family: nunito-light;
    src: url(../fonts/nunito-light.ttf);
}

@font-face {
    font-family: nunito-regular;
    src: url(../fonts/nunito-regular.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(../fonts/nunito-semibold.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../fonts/nunito-bold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: nunito-regular, arial;
    background-color: #fff;
    user-select: none;
}

.to-top {
    box-sizing: border-box;
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
    border: none!important;
}

.to-top:after {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-top: 2px solid rgba(0, 0, 0, .5);
    border-left: 2px solid rgba(0, 0, 0, .5);
    transform: rotate(45deg);
    position: absolute;
    right: 4px;
    bottom: -4px;
}

.to-top:hover:after {
    border-top: 2px solid #f4b200;
    border-left: 2px solid #f4b200;
}

.header {
    padding: 8px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    color: #212529;
    line-height: inherit;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-list-link {
    text-decoration: none;
    font-family: nunito-regular, arial;
    font-size: 14px;
    letter-spacing: 1.3px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
}

.header-list-link.active {
    color: rgba(0, 0, 0, .9);
    border-bottom: 1.5px solid rgba(0, 0, 0, .9);
}

.header-list-link:hover {
    color: rgba(0, 0, 0, .9);
    border-bottom: 1.5px solid rgba(0, 0, 0, .9);
}

.header-list-btn {
    text-decoration: none;
    font-family: nunito-bold, arial;
    font-size: 14px;
    letter-spacing: 1.3px;
    cursor: pointer;
    background-color: #f4b200;
    border-color: #f4b200;
    color: #fff;
    border-radius: 23px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    border: 1px solid transparent;
    padding: 5px 0;
    transition: 0.3s;
}

.header-list-btn:hover {
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .15);
}

/* -------------push-your-life----------------- */
.push-your-life {
    padding: 44px 50px 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 249, 246);
}

.push-life-text {
    flex-direction: column;
    padding: 30px 0;
}

.push-img {
    /* padding: 30px 0; */
}

.push-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.push-text {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
}

.learn-more {
    text-decoration: none;
    font-family: nunito-bold, arial;
    font-size: 16px;
    letter-spacing: 1.3px;
    cursor: pointer;
    background-color: #f4b200;
    border-color: #f4b200;
    color: #fff;
    border-radius: 23px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
    padding-left: 10px !important;
    padding-right: 25px !important;
    text-align: center;
    border: 1px solid transparent;
    padding: 5px;
    transition: 0.3s;
}

.learn-more::after {
    content: "";
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s;
    margin-left: 10px;
}

.learn-more:hover:after {
    transform: translateX(10px) rotate(-45deg);
}

.learn-more:hover {
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .15);
}

.meet-me {
    text-decoration: none;
    font-family: nunito-bold, arial;
    font-size: 14px;
    letter-spacing: 1.3px;
    margin-left: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .9);
    transition: 0.15s;
}

.meet-me:hover {
    color: rgba(0, 0, 0, .9);
    border-bottom: 3px solid rgba(0, 0, 0, .9);
}

/* ----------------help-you------------------------ */
.help-you {
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
}

.help-title {
    color: #212529;
    font-size: 25px;
    margin: 0;
    padding-top: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.help-text {
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    margin: 0;
    padding: 10px 0;
}

.help-section {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    /* width: 100%; */
}

.help-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 0;
    /* width: 30%; */
    /* margin: 15px; */
}

.help-sect-title {
    color: #212529;
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 10px;
}

.help-sect:after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 20px;
}

.help-icon {
    fill: rgba(0, 0, 0, .5);
    transition: 0.5s;
}

.help-sect:hover .help-icon {
    fill: #f4b200;
}

.help-sect:hover.help-sect:after {
    background-color: #f4b200;
}

.help-sect:hover .help-text {
    color: rgba(0, 0, 0, .9);
}

/* ---------------about-me---------------- */

.about-me {
    padding: 0 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 249, 246);
}

.about-img {
    padding: 20px 0;
}

.about-text {
    flex-direction: column;
    /* padding: 30px 8px 0 8px; */
    /* width: 40%; */
    padding-left: 30px;
}

.about-title {
    color: rgba(0, 0, 0, .9);
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.about-txt {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .7);
}

/* --------------My education-------------- */

.education {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 249, 246);
    padding: 0 50px;
}

.education-icon {
    fill: rgba(0, 0, 0, .5);
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.education-schooling:hover .education-icon {
    fill: #f4b200;
}

.education-schooling:hover .education-catalog {
    color: rgba(0, 0, 0, .9);
}

.education-patent:hover .education-icon {
    fill: #f4b200;
}

.education-patent:hover .education-catalog {
    color: rgba(0, 0, 0, .9);
}

.education-schooling {
    display: flex;
    width: 49%;
    margin: 0;
    padding: 0;
}

.education-patent {
    display: flex;
    width: 49%;
    margin: 0;
    padding: 0;
}

.education-title {
    color: rgba(0, 0, 0, .9);
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.education-txt {
    padding-left: 10px;
}

.education-list {
    margin: 0;
    margin-left: 15px;
    padding: 10px 0;
}

.education-catalog {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .7);
}

/* ----------------Directions----------------------- */

.directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.directions-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding: 20px 0;
}

.directions-item {
    width: 50%;
    background-color: rgb(250, 249, 246);
}

summary {
    border-bottom: 1px solid #aaa;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

summary .diretion-icon {
    fill: rgba(0, 0, 0, .5);
    transition: 0.3s;
    border-radius: 50%;
    padding: 3px;
}

summary:hover .diretion-icon {
    background-color: rgba(0, 0, 0, .5);
    fill: #fff;
}

details[open] .direction-list {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

details[open] .diretion-icon {
    transform: rotate(45deg);
}

details[open] ul {
    border-bottom: 1px solid #aaa;
    padding-bottom: 12px;
    color: rgba(0, 0, 0, .5);
    font-family: nunito-regular, arial;
}

details[open]:last-child ul {
    border-bottom: none;
}

.direction-item summary::-webkit-details-marker {
    display: none;
}

.direction-item>summary {
    list-style: none;
}

.diretion-title {
    color: rgba(0, 0, 0, .9);
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.direction-link {
    background-color: rgb(250, 249, 246);
    padding: 20px;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* --------------------Price--------------------- */

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    background-color: rgb(250, 249, 246);
}

.price-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.price-service {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
}

.service-price {
    width: 48%;
    padding-top: 10px;
}

.service-title {
    color: rgba(0, 0, 0, .9);
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sevice-txt {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.service-min:hover .sevice-txt {
    color: rgba(0, 0, 0, .9);
}

/* -----------reviews----------------- */

.reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
}

.reviews-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 20px;
    width: 100%;
    text-align: center;
}

.rewiews-txt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.review {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    text-align: center;
}

.rewiew-title {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.review-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.reviews-name {
    padding-left: 10px!important;
    color: rgba(0, 0, 0, .9);
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.review-story {
    text-align: justify;
    font-size: 14px;
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .7);
    padding-top: 5px;
}