@font-face {
    font-family: nunito-light;
    src: url(../fonts/nunito-light.ttf);
}

@font-face {
    font-family: nunito-regular;
    src: url(../fonts/nunito-regular.ttf);
}

@font-face {
    font-family: nunito-semibold;
    src: url(../fonts/nunito-semibold.ttf);
}

@font-face {
    font-family: nunito-bold;
    src: url(../fonts/nunito-bold.ttf);
}

* {
    box-sizing: border-box;
    position: relative;
}

body {
    font-family: nunito-regular, arial;
    background-color: #fff;
    user-select: none;
    overflow-x: hidden;
}

.to-top {
    box-sizing: border-box;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border: none !important;
    fill: rgba(0, 0, 0, .20);
    transition: 0.5s;
    z-index: 10;
}

.to-top:hover {
    fill: #f4b200;
}


.wrap {
    cursor: pointer;
    height: 50px;
    width: 50px;
    padding: 5px;
    margin: 5px;
    position: fixed;
    right: 10px;
    top: 10px;
    display: none;
    z-index: 10;
}

.wrap .upper,
.wrap .middle,
.wrap .bottom {
    background-color: rgba(0, 0, 0, .5);
    height: 3px;
    width: 80%;
    margin: 8px auto;
    transform-origin: top right;
    transition: 0.3s ease-out;
    contain: "";
    z-index: 12;
}

.wrap.active .upper {
    transform: rotate(-45deg) translate(-4px, -6px);
    height: 4px;
}

.wrap.active .bottom {
    transform: rotate(45deg) translate(-4px, 1px);
    height: 4px;
}

.wrap.active .middle {
    opacity: 0;
}

.header {
    padding: 8px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    color: #212529;
    line-height: inherit;
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.header-nav {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.header-list-link {
    text-decoration: none;
    font-family: nunito-regular, arial;
    font-size: 14px;
    letter-spacing: 1.3px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    color: rgba(0, 0, 0, .5);
}

.header-list-link.active {
    color: rgba(0, 0, 0, .9);
    border-bottom: 1.5px solid rgba(0, 0, 0, .9);
}

.header-list-link:hover {
    color: rgba(0, 0, 0, .9);
    border-bottom: 1.5px solid rgba(0, 0, 0, .9);
}

.header-list-btn {
    text-decoration: none;
    font-family: nunito-bold, arial;
    font-size: 14px;
    letter-spacing: 1.3px;
    cursor: pointer;
    background-color: #f4b200;
    border-color: #f4b200;
    color: #fff;
    border-radius: 23px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
    padding-left: 10px !important;
    padding-right: 10px !important;
    text-align: center;
    border: 1px solid transparent;
    padding: 5px 0;
    transition: 0.3s;
}

.header-list-btn:hover {
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .15);
}

/* -------------push-your-life----------------- */
.push-your-life {
    padding: 144px 50px 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.push-your {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.push-life-text {
    flex-direction: column;
    padding: 30px 0;
    position: relative;
}

.push-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.push-text {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
}

.learn-more {
    text-decoration: none;
    font-family: nunito-bold, arial;
    font-size: 16px;
    letter-spacing: 1.3px;
    cursor: pointer;
    background-color: #f4b200;
    border-color: #f4b200;
    color: #fff;
    border-radius: 23px;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .15);
    padding-left: 10px !important;
    padding-right: 25px !important;
    text-align: center;
    border: 1px solid transparent;
    padding: 5px;
    transition: 0.3s;
}

.learn-more::after {
    content: "";
    border: solid #fff;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transition: 0.5s;
    margin-left: 10px;
}

.learn-more:hover:after {
    transform: translateX(10px) rotate(-45deg);
}

.learn-more:hover {
    box-shadow: 0 2px 5px 5px rgba(0, 0, 0, .15);
}

.meet-me {
    text-decoration: none;
    font-family: nunito-bold, arial;
    font-size: 14px;
    letter-spacing: 1.3px;
    margin-left: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, .9);
    transition: 0.15s;
}

.meet-me:hover {
    color: rgba(0, 0, 0, .9);
    border-bottom: 3px solid rgba(0, 0, 0, .9);
}

.push-back {
    bottom: 0;
    left: 0;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    z-index: -2;
    background-color: rgb(250, 249, 246);
    /* display: block; */
}

.back-left {
    background-image: url(../img/bg-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.back-right {
    background-image: url(../img/bg-right.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;
    position: absolute;
}

.back-women {
    background-image: url(../img/bg-woman.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 80%;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: 0;
    position: absolute;
}

/* ----------------help-you------------------------ */
.help-you {
    flex-direction: column;
    text-align: center;
    padding: 0 50px;
}

.help-title {
    color: #212529;
    font-size: 25px;
    margin: 0;
    padding-top: 44px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.help-text {
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    margin: 0;
    padding: 10px 0;
}

.help-section {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.help-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    padding: 0;
}

.help-sect-title {
    color: #212529;
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 10px;
}

.help-sect:after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: rgba(0, 0, 0, .4);
    margin-bottom: 20px;
}

.help-icon {
    fill: rgba(0, 0, 0, .5);
    transition: 0.5s;
}

.help-sect:hover .help-icon {
    fill: #f4b200;
}

.help-sect:hover.help-sect:after {
    background-color: #f4b200;
}

.help-sect:hover .help-text {
    color: rgba(0, 0, 0, .9);
}

/* ---------------about-me---------------- */

.about-me {
    padding: 100px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(250, 249, 246);
    z-index: -2;
    position: relative;
}

.about-me-back {
    background-image: url(../img/front-foto.jpg);
    margin-top: 64px;
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    height: 100%;
    overflow: hidden;
    width: 30%;
    z-index: -1;
}

/* .about-img {
    padding-top: 44px;
} */

.about-text {
    flex-direction: column;
    padding-left: 25%;
}

.about-title {
    color: rgba(0, 0, 0, .9);
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.about-txt {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .7);
}

/* --------------My education-------------- */

.education {
    display: flex;
    justify-content: space-between;
    background-color: rgb(250, 249, 246);
    padding: 0 50px;
    padding-top: 44px;
}

.education-icon {
    fill: rgba(0, 0, 0, .5);
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

.education-schooling:hover .education-icon {
    fill: #f4b200;
}

.education-schooling:hover .education-catalog {
    color: rgba(0, 0, 0, .9);
}

.education-patent:hover .education-icon {
    fill: #f4b200;
}

.education-patent:hover .education-catalog {
    color: rgba(0, 0, 0, .9);
}

.education-schooling {
    display: flex;
    width: 49%;
    margin: 0;
    padding: 0;
}

.education-patent {
    display: flex;
    width: 49%;
    margin: 0;
    padding: 0;
}

.education-title {
    color: rgba(0, 0, 0, .9);
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.education-txt {
    padding-left: 10px;
}

.education-list {
    margin: 0;
    margin-left: 15px;
    padding: 10px 0;
}

.education-catalog {
    padding-bottom: 10px;
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
}

/* ----------------Directions----------------------- */

.directions {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 0 50px;
}

.directions-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding: 44px 0;
}

.directions-item {
    width: 50%;
    background-color: rgb(250, 249, 246);
}

summary {
    border-bottom: 1px solid #aaa;
    padding: 12px;
    display: flex;
    justify-content: space-between;
}

summary .direction-icon {
    fill: rgba(0, 0, 0, .5);
    transition: 0.7s;
    rotate: 90deg;
}

summary:hover .direction-icon {
    fill: #f4b200;
}

details[open] .direction-list {
    animation: sweep .5s ease-in-out;
}

@keyframes sweep {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

details[open] .direction-icon {
    transform: rotate(180deg);
}

details[open] ul {
    border-bottom: 1px solid #aaa;
    padding-bottom: 12px;
    color: rgba(0, 0, 0, .5);
    font-family: nunito-regular, arial;
}

details[open]:last-child ul {
    border-bottom: none;
}

.direction-item summary::-webkit-details-marker {
    display: none;
}

.direction-item>summary {
    list-style: none;
}

.diretion-title {
    color: rgba(0, 0, 0, .9);
    font-size: 20px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.direction-link {
    background-color: rgb(250, 249, 246);
    padding: 20px;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    margin-bottom: 20px;
}

/* --------------------Price--------------------- */

.price {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    position: relative;
}


.price-back {
    background-image: url(../img/bg-clouds-short.jpg);
    position: absolute;
    opacity: 0.4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.price-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 44px;
    width: 100%;
    text-align: center;
}

.price-service {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
}

.service-price {
    width: 48%;
    padding-top: 10px;
}

.service-title {
    color: rgba(0, 0, 0, .9);
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.sevice-txt {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    font-size: 12px;
    border-top: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
}

.service-min:hover .sevice-txt {
    color: rgba(0, 0, 0, .9);
}

/* -----------reviews----------------- */

.reviews {
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    /* background-color: #fff; */
}

.reviews-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 44px;
    padding-bottom: 10px;
    width: 100%;
    text-align: center;
}

.rewiews-txt {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}

.review {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    text-align: center;
    /* background-color: rgba(0, 0, 0, .1); */
    background-color: #FFEAB2;
    border-radius: 10px;
    margin: 0 10px;
}

.rewiew-title {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

.review-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.reviews-name {
    padding-left: 10px !important;
    color: rgba(0, 0, 0, .9);
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
}

.review-story {
    text-align: justify;
    font-size: 14px;
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .7);
    padding-top: 5px;
}

/* -----decided------ */

.decided {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    padding-bottom: 30px;
}

.decided-back {
    background-image: url(../img/bg-field.jpg);
    position: absolute;
    opacity: 0.5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}

.decided-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.decided-item {
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    transition: 0.5s;
    margin: 0;
    padding-bottom: 30px;
}

/* ----- video ----- */
.video {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 50px;
    padding-bottom: 30px;
    /* overflow-x: hidden; */
}

.video-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding: 30px 0;
    width: 100%;
    text-align: center;
}

.video {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
  }
  .video iframe {
    position: absolute;
    width: 100%;
    max-width: 840px;
    height: 100%;
    max-height: 472.5px;
    border-width: 0;
    outline-width: 0;
  }
/* ----- contact ----- */

.contact {
    display: flex;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin: 0 70px;
    background-color: rgb(250, 249, 246);
    border-radius: 20px;
}

.contact-title {
    color: #212529;
    font-size: 25px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    padding-top: 44px;
    width: 100%;
    text-align: center;
}

.contact-block {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 10px;
}

.contact-my,
.contact-form {
    width: 40%;
    padding-top: 10px;
}

.my-title,
.form-title {
    color: rgba(0, 0, 0, .9);
    font-size: 17px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.my-txt {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 5px;
    user-select: all;
    display: flex;
    text-decoration: none;
}

.my-txt:hover {
    color: #f4b200;
}

.my-social-block {
    display: column;
    width: 100%;
}

.my-social {
    display: flex;
    width: 100%;
    margin-top: 20px;
}

.my-social:hover .my-social-txt {
    color: #f4b200;

}

.my-social:hover .my-social-icon {
    border: 2px solid #f4b200;
    border-radius: 50%;
}

.my-social-txt {
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    margin-top: 5px;
    display: flex;
    text-decoration: none;
    align-items: center;
}

.my-social-icon {
    box-sizing: border-box;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
    letter-spacing: 1.3px;
    font-family: nunito-regular, arial;
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    padding-bottom: 2px;
    margin-top: 10px;
    user-select: text;
}

input {
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    outline: none;
}

input:focus {
    border: 1px solid #f4b200;
}

.form-group:hover label {
    color: #f4b200;
}

textarea {
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, .5);
    border-radius: 10px;
    resize: none;
    outline: none;
    padding: 5px;
}

textarea:focus {
    border: 1px solid #f4b200;
}


.form__error {
    color: red;
    text-align: left;
    font-size: 12px;
    display: block;
    margin-top: 3px;
    display: none;
}

input:invalid:not(:placeholder-shown) {
    border-color: red;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

input:invalid:not(:placeholder-shown)+.form__error {
    display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
}

.send {
    padding-right: 10px !important;
    margin-top: 10px;
}

/* ----- footer ----- */

.footer {
    display: flex;
    padding: 10px 50px;
}

.footer-txt {
    color: rgba(0, 0, 0, .5);
    font-size: 15px;
    letter-spacing: 1.3px;
    font-family: nunito-bold, arial;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

.footer-txt:hover {
    color: #f4b200;
}

@media (min-width: 1350px) {
    .container {
        width: 95%;
        margin: 0 auto;
        justify-content: flex-start;
    }
}

@media (max-width: 1000px) {
    .logo {
        display: none;
    }
}

@media (max-width: 880px) {
    .wrap {
        display: block;
    }

    .header {
        background-color: rgb(250, 249, 246)!important;
        border-radius: 0 0 20px 20px;
        padding: 0;
        padding-top: 50px;
        margin: 0;
        transform: translateY(-120%);
        transition: transform 0.6s;
    }

    .header.active {
        transform: translateY(0%);
    }

    .header-nav {
        padding: 0 10px;
    }

    .header-list {
        flex-direction: column;
        width: 100%;  
        margin: 0;
    }

    .header-list .header-link:last-child {
        margin: 0;
        padding: 20px 0;
        border: none;
    }

    .header-list .header-link {
        display: flex;
        justify-content: center;
        border-bottom: 1px solid rgba(0, 0, 0, .3);
    }

    .header-list-link.active {
        border:none;
    }

    .header-list-link:hover {
        border:none;
    }

    .header-link {
        display: flex;
        text-align: center;
        margin: 0;
    }

    .header-list .header-list-link {
        width: 100%;
        margin: 0;
        padding: 20px;
    }

    .back-women {
        background-size: cover;
        background-position: 50%;
    }

    .push-your-life {
        padding: 144px 30px 100px 30px;
    }

    .push-your {
        width: 60%;
    }

    .help-you {
        padding: 0 30px;
    }

    .help-section {
        display: block;
    }

    .help-icon {
        fill: #f4b200;
    }

    .about-me {
        padding: 100px 30px;
    }

    .about-me-back {
        background-size: cover;
        background-position: 80%;
        width: 30%;
    }

    .about-text {
        padding-left: 45%;
        width: 100%;
        justify-content: space-between;
    }

    .education {
        padding: 0 30px;
        padding-top: 30px;
        flex-direction: column;
    }

    .education-schooling,  .education-patent{
        flex-direction: column;
        width: 100%;
    }

    .education-icon {
        fill: #f4b200;
    }

    .directions {
        padding: 0 30px;
    }

    .directions-title {
        width: 100%;
        text-align: center;
    }

    .directions-item {
        width: 100%;
    }

    .direction-item {
        width: 100%;
    }

    .direction-link {
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }

    .price {
        padding: 0 30px;
        width: 100%;
    }

    .price-service {
        display: block;
        /* width: 100%; */
    }

    .service-price {
        width: 100%;
    }

    .reviews {
        padding: 0 30px;
    }

    .contact {
        padding: 0 30px;
        margin: 0;
    }

    .contact-block {
        display: block;
    }

    .contact-my {
        width: 100%;
    }

    .my-social-block {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .my-social {
        width: 40px;
    }

    .social-txt-href {
        display: none;
    }

    .contact-form {
        width: 100%;
        margin-top: 20px;
    }

}
